<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14A100</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>Copyright © 2014 Apple All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.toledaAGPM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>toledaAGPM</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.0-toledaAGPM</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2014 Apple. All rights reserved.</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AGPM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.driver.AGPM</string>
			<key>IOClass</key>
			<string>AGPMController</string>
			<key>IONameMatch</key>
			<string>AGPMEnabler</string>
			<key>IOProviderClass</key>
			<string>IOPlatformPluginDevice</string>
			<key>Machines</key>
			<dict>
				<key>Mac-27ADBB7B4CEE8E61</key>
				<dict>
					<key>IGPU</key>
					<dict>
						<key>Heuristic</key>
						<dict>
							<key>EnableOverride</key>
							<integer>0</integer>
							<key>ID</key>
							<integer>2</integer>
						</dict>
						<key>control-id</key>
						<integer>16</integer>
					</dict>
					<key>Vendor1002Device683f</key>
					<dict>
						<key>AGDCEnabled</key>
						<integer>1</integer>
						<key>Heuristic</key>
						<dict>
							<key>ID</key>
							<integer>-1</integer>
						</dict>
						<key>control-id</key>
						<integer>17</integer>
						<key>max-power-state</key>
						<integer>15</integer>
						<key>min-power-state</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>AMDVerdeGraphicsAccelerator</key>
		<dict>
			<key>ATIEnableWideBlitSupport</key>
			<true/>
			<key>ATIUseTearingWideBlit</key>
			<false/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.AMDRadeonX4000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDVerdeGraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x68201002 0x68211002 0x68231002 0x68251002 0x68271002 0x682D1002 0x682F1002 0x68391002 0x683B1002 0x683D1002 0x683F1002</string>
			<key>IOProbeScore</key>
			<integer>200</integer>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>cail_properties</key>
			<dict>
				<key>CAIL_DisableDrmdmaPowerGating</key>
				<integer>1</integer>
				<key>CAIL_DisableDynamicGfxMGPowerGating</key>
				<integer>1</integer>
				<key>CAIL_DisableGfxCGPowerGating</key>
				<integer>1</integer>
				<key>CAIL_DisableGmcPowerGating</key>
				<integer>1</integer>
				<key>CAIL_DisableStaticGfxMGPowerGating</key>
				<integer>1</integer>
				<key>CAIL_DisableUVDPowerGating</key>
				<integer>0</integer>
				<key>CAIL_DisableVCEPowerGating</key>
				<integer>1</integer>
			</dict>
			<key>sensor-properties</key>
			<array>
				<dict>
					<key>device_type</key>
					<data>Z3B1LXNlbnNvcg==</data>
					<key>location</key>
					<string>GPU</string>
					<key>name</key>
					<string>gpu-sensor</string>
					<key>polling-period</key>
					<data>AAAAAQAAAAA=</data>
					<key>reg</key>
					<data>AAAAAg==</data>
					<key>sample-period</key>
					<data>AAAAAACYmAA=</data>
					<key>sensor-id</key>
					<data>AAAABg==</data>
					<key>version</key>
					<data>AAAAAg==</data>
					<key>zone</key>
					<data>AAAAAg==</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
